body {
    margin: 0;
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
}

h1 {
       width: 10%;
    margin: 0 auto 0 auto;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 50px;
}

h2 {

}

h3 {
    
}
.top-container {
    background-color: #BFFFF0;
    position: relative;
    padding-top: 100px;        
}

.middle-container {
    
}
   
.bottom-container {
    
}

.de {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}